<section>
  <h1>About Me</h1>
  <p>When Im not working on my own projects or travelling, I write code for <a href="http://socialcast.com">Socialcast</a>, VMWare's Social Enterprise Platform. 
	<br>
	<br>
	<center><a href="http://stackoverflow.com/users/218248/vladimir-gurovich"><img src="/images/social/stackoverflow_32.png" alt ="StackOverflow"></a>
	&nbsp;<a href="https://github.com/vladgurovich"><img src="/images/social/github_32.png" alt ="Github Repositories"></a>
	&nbsp;<a href="http://www.linkedin.com/in/vladgurovich"><img src="/images/social/linkedin_32.png" alt ="LinkedIn Profile"></a>
	&nbsp;<a href="http://twitter.com/vladgur"><img src="/images/social/twitter_32.png" alt ="Twitter"></a>
	</center></p>
</section>